
body{
  overflow-x: hidden;
}
p {
  margin: 0 0 10px;
  font-family: 'Roboto' !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.main_content {
    width: 86%;
    margin-left: 16.7%;
    height: 700px;
}

.main_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40000px;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.91);
    z-index: 8010;
    transition: all 1s;

}
section {
  transition: all 4s;
}


/**********__header__**********/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px !important;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 0 0 50px;
  background: #ffffff;
  float: left;
  z-index: 99999;
  transition: all 0.4s !important;
  border-right: 3px solid #43a1b0;
  box-shadow: 8px 4px 8px 1px rgba(60, 60, 60, 0.24);
}
header .logo {
  margin-top: 20px !important;
}
header img {
  margin-bottom: 15px;
}
.title {
  color: #a2a1a1;
  font-family: 'Nova Cut', cursive;
  text-align: center;
  letter-spacing: 1px;
}
.title>span {
  color: #43a1b0;
}
header nav ul {
  display: block;
  overflow: hidden;
  margin-top: 50px;
  list-style: none;
}
header nav ul li {
  display: block;
  margin-bottom: 30px;
}
header nav ul li a {
  color: #454545;
  font-size: 15px;
  font-family: 'Lora', serif;
  text-decoration: none;
  letter-spacing: 2px;
}
header nav ul li a:hover {
  color: #43a1b0;
}
ul .fa{
  font-size: 15px !important;
    color: rgb(67, 161, 176);
    margin-right: 10px !important;
}
@font-face {
  font-family: 'si';
  src: url('../fonts/socicon.eot');
  src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.soc {
  padding-left: 0px;
  overflow: hidden;
  list-style: none;
}
.soc li {
  display: inline-block;

}
.soc li a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(187, 187, 187, 0.6);
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 2px;
  margin-right: 2px;
  color: rgba(158, 158, 158, 0.38);
}
.soc a:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
.soc-twitter:hover {
  color: #00aced;
}
.soc-facebook:hover {
  color: #3b5998;
}
.soc-linkedin:hover {
  color: #0177b5;
}
.soc-pinterest:hover {
  color: #bd081c;
}
.soc-rss:hover {
  color: #f65608;
}
.soc-twitter:before {
  content: '\e040';
}
.soc-facebook:before {
  content: '\e041';
}
.soc-pinterest:before {
  content: '\e043';
}
.soc-linkedin:before {
  content: '\e049';
}
.soc-rss:before {
  content: '\e00b';
}
header .rights p {
  color: #828892;
  font-family: "raleway-regular", arial;
  font-size: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 18px;
}
header .rights a {
  font-family: "raleway-bold", arial;
  font-weight: bold;
  text-decoration: none;
}
.responsive_header_bar {
  display: none;
}
/**********__Home section__***********/

.home p {
  position: relative;
  text-align: center;
  padding-top: 400px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: 40px;
}
.overlay_img{
  background-color: black;
  height: 740px;
  width: 100%;
   background: url(../img/intro.jpg) center center /cover no-repeat fixed;
}
.img_para{
  height: 740px;
  width: 100%;
    background-color: black;
  background: rgb(0, 0, 0);
  opacity: 0.89999997615814208984375;
}
.tagline {
  color: rgba(255, 255, 255, 0.74);
  font-weight: 500;
  font-size: 4em;
  letter-spacing: 4px;
  font-family: 'Nova Flat', cursive;
  transition: all 0.7s ease-in-out;
}

.sub-tagline {
  margin: 0;
  font-size: 1em;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.lift-text .tagline {
  margin: 0;
}
.lift-text .sub-tagline {
  opacity: 1;
}
.head-text {
  padding-top: 60px;
}
.typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lift-text .sub-tagline {
  opacity: 1;
}
h4.sub-tagline {
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #7a7a7a;
  color: rgba(158, 158, 158, 0.51);
  padding: 15px 0;
  margin-top: 2px;
  font-size: 46px;
  text-transform: uppercase;
 
  font-family: 'Pathway Gothic One', sans-serif;
}
/**********__Intro section__**********/

.titre_intro>h1 {
  padding: 40px 20px;
  border: solid 4px;
  font-size: 189%;
  text-align: center;
  border-color: #0c7586;
  border-width: 4px;
  text-transform: uppercase;
  width: auto;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #0c7586;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.intro_logo {
  margin-top: 50px;
}
.text_intro>p {
  color: rgba(138, 135, 135, 0.72);
  font-size: 18px;
  margin-top: 50px;
  line-height: 1.5;
  font-family: serif;
}
#intro_logo {
  position: relative;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 13%;
  transform: rotate(45deg);
  border: rgb(11, 80, 90) solid 7px;
  border-radius: 50px;
}
/**********__number section**********/

.single_count i {
  color: #dbdbdb;
  font-size: 88px;
}
.single_count {
  background-color: #fff;
}
.single_count:hover, .single_count:focus {
  -webkit-box-shadow: 0px 2px 0px 0px rgb(67, 161, 176);
  -moz-box-shadow: 0px 2px 0px 0px rgb(67, 161, 176);
  box-shadow: 0px 2px 0px 0px rgb(67, 161, 176);
}
.single_count {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.single_count:hover, .single_count:focus {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
}
.numbers {
  margin-top: 100px;
}
.nb_counter {
  margin-top: 2px;
  display: block;
  color: #43a1b0;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
}

.p_counter {
  text-transform: uppercase;
  text-align: center;
  font-family: cursive;
  color: #959595;
  font-style: oblique;
}
/**********__client section__**********/



.client {
  width: 100%;
  height: 130px;
  margin-top: 20px;
}
#owl-demo .item {
  margin: 3px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.20000000298023223876953125 !important;
}
.owl-pagination {
  display: none;
}


/**********__section title__**********/

.section_title_white h2 {
  color: white;
  font-family: 'Quando', serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
}
.section_title_dark h2 {
  color: rgba(0, 0, 0, 0.73);
  font-size: 30px;
  font-family: 'Quando', serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
}
.section_title_white p {
  color: #fff !important;
  letter-spacing: 1px;
  text-align: center;
}
.section_title_dark p {
  color: rgba(134, 134, 134, 0.88) !important;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 70px;
}
.section_title_white h2:after {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  bottom: 5px;
  content: "";
  height: 3px;
  left: calc(50% - 35px);
  position: absolute;
  width: 70px;
}
.section_title_white h2:before {
  bottom: 0;
  content: "";
  height: 12px;
  transform: rotate(45deg);
  border-radius: 4px;
  left: calc(50% - 5px);
  position: absolute;
  width: 12px;
  background-color: white;
  z-index: 9;
}
.section_title_dark h2:after {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  bottom: 5px;
  content: "";
  height: 3px;
  left: calc(50% - 35px);
  position: absolute;
  width: 70px;
}
.section_title_dark h2:before {
  bottom: 0;
  content: "";
  height: 12px;
  transform: rotate(45deg);
  border-radius: 4px;
  left: calc(50% - 5px);
  position: absolute;
  width: 12px;
  background-color: #43a1b0;
  z-index: 9;
}

/**********__work process__**********/
.icon{
 border: 2px solid white;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    float: left;
     transition: all 0.7s ease-in-out;
}
.icon_hover{
    transform: scale(1.1);
    border-color: #0a7c8f;
}
  .work_process:after {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    height: 1px;
    width: 80px;
    margin-left: -30px;
    margin-top: 20px;
    position: absolute;
   }
    .work_process:last-child:after {
     display: none;
   }
.description {
    position: relative;
    padding-left: 100px;
    color: white;
    /* float: left; */
    /* width: 200px; */
}
.description >h4 {
    float: left;
    color: #0a7c8f;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Quando', serif;
}
.description >p {
    float: left;
    width: 85%;
    text-align: left;
    font-family: 'Special Elite', cursive;
}
#work-process-area {
  background: url("../img/process-bg.jpg") center center /cover no-repeat fixed;
  height: 500px;
  background-color: black;
  margin-top: 100px;
}
.overlay {
 /* background: url(../img/pattern.png) center repeat scroll;*/
  opacity: 0.89999997615814208984375;
  height: 100%;
  background-color:black;
}
.work-process-content {
 margin-top: 100px;
    margin-bottom: 50px;
}
.work-process-icon {
  background-color: #9E9E9E;
  background-size: auto 100%;
  border: #9E9E9E solid 4px;
  border-radius: 31%;
  transform: rotate(45deg);
  height: 70px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  transition: all 1s 0s ease;
  width: 70px;
}
.single-work-process {
  
  transition-duration: 600ms;
}
.float_left {
  float: left;
}
.section-padding-dark {
  padding: 70px 0;
}

.work-process-content .single-work-process:last-child {
  margin-right: 0;
}
.single-work-process h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
i.material-icons.material2 {
    color: white;
    font-size: 30px;
    margin-top: 13px;
    transition: all 0.7s ease-in-out;
  
}
.work-process-content:hover {
  cursor: pointer !important;
}

/*********__blog section__**********/

.blog h3 {
  text-align: center;
  color: #2f2f2f;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}
.blog p {
  line-height: 23px;
  color: #9E9E9E;
  font-size: 13px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  text-align: center;
}
.text-left .text-right {
  width: 400px;
}
.readMore {
  color: #43a1b0;
}
.readMore i {
  font-size: 13px;
}
.blog .readMore {
  text-decoration: none;
}
.blog .readMore:hover {
  color: #666666;
}
.blog h3 a:hover {
  color: #43a1b0;
}
.blog ul {
  margin-top: 14px;
  padding-left: 0;
  text-align: center;
}
.blog ul li {
  padding-right: 20px;
  display: inline-block;
  list-style: none;
}
.blog ul li a {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #a9a9a9;
  font-size: 13px;
  text-decoration: none;
  list-style: none;
}
.blog ul li {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #a9a9a9;
  font-size: 13px;
  text-decoration: none;
  list-style: none;
}
.blog ul li a i {
  padding-right: 5px;
}
.blog li i {
  padding-right: 5px;
}
.blog ul li a:hover {
  color: #43a1b0;
}
.row.p-b {
  width: 98.5%;
  
}
@media screen and (max-width:768px) {
  .blog_content {
    padding: 4em 0;
  }
}
.blog_content .post {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 20px #DFDFDF;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.blog_content .post img {
  transition: all 0.5s ease;
}
.blog_content .post:hover img, .blog_content .post:focus img {
  transform: scale(1.1);
}
.blog_content .post .post-image {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  z-index: 1;
  height: 171px;
}
.blog_content .post .post-image .post-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blog_content .post .post-image .post-category {
  float: left;
  z-index: 2;
  position: absolute;
}
.blog_content .post .post-image .post-category>a {
  padding: 1px 10px;
  height: 26px;
  background: rgba(0, 0, 0, 0.56);
  border-radius: 34%;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  border: #9E9E9E solid 1px;
  margin-left: 11px;
  border-radius: 0;
  display: inline-block;
}
.blog_content .post .post-image .post-category>a:hover, .blog_content .post .post-image .post-category>a:active, .blog_content .post .post-image .post-category>a:focus {
  text-decoration: none;
}
.blog_content .post .post-text {
  padding: 20px;
}
.blog_content .post .post-text h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 700;
}
.blog_content .post .post-text h3 a {
  font-family: 'Farsan', cursive;
  color: rgb(67, 161, 176);
  letter-spacing: 3px;
  font-size: 17px;
}
.blog_content .post .post-text h3 a:hover {
  color: #1784fb;
}
.blog_content .post .post-text h3 a:hover, .blog_content .post .post-text h3 a:active, .blog_content .post .post-text h3 a:focus {
  text-decoration: none;
}
.blog_content .post .post-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a6a6a6;
}
.blog_content .post .post-text p:last-child {
  margin-bottom: 0 !important;
}
.blog_content .post .post-meta {
  border-top: 1px solid #f0f0f0;
  padding: 10px 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
.blog_content .post .post-meta a {
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #b3b3b3;
}
.blog_content .post .post-meta a i {
  display: inline-block;
  margin-right: 5px;
}
.blog_content .post .post-meta a:hover, .blog_content .post .post-meta a:active, .blog_content .post .post-meta a:focus {
  text-decoration: none;
}
.blog_content .post .post-meta a:hover {
  color: #000;
}
.fa.fa-commenting-o, .fa.fa-pencil ,.fa.fa-tag{
  color: #b3b3b3;
  font-size: 15px;
}

/***********__portfolio section*********/
.filtr-item{
  padding: 0px !important;
}
.discover {
  background-color: rgba(0, 0, 0, 0.87);
  padding: 70px 0;
  text-align: center;
  margin-top: 0;
  height: 57px;
  margin-left: 0;
}
.shop-btn {
  border: #bbb solid 1px;
  padding: 15px 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.shop-btn:hover, .shop-btn:focus {
  border: #43a1b0 solid 1px;
  text-decoration: none;
  color: #43a1b0;
}

.simplefilter li {
  color: #43a1b0;
  font-weight: bold;
  font-family: 'Tillana', cursive;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
}
.simplefilter li:after {
  content: "";
  width: 2px;
  margin-left: 20px;
  transform: rotate(10deg);
  height: 18px;
  position: absolute;
  background-color: #43a1b0;
}
.simplefilter li:last-child:after {
  display: none;
}

/**********__resume section__**********/

.education_timeline {
  height: 600px;
}
.work_timeline {
  margin-top: 200px;
}

.timeline_content_margin{
  margin-top: 110px;
}
.education_icon:after{
    content: "";
    width: 1px;
    height: 600px;
    margin-left: 215px;
    margin-top: -37px;
    transform: rotate(-45deg);
    background-color: #9E9E9E;
    position: fixed;
}

.work_icon:after {
   content: "";
    width: 1px;
    height: 600px;
    margin-left: 219px;
    margin-top: -37px;
    transform: rotate(-45deg);
    background-color: #9E9E9E;
    position: fixed;
}
.fa-circle {
   font-size: 12px !important;
    margin-left: 25px;
    padding-top: 60px;
    z-index: 99;
    position: relative;
}
.timeline {
  width: 10px;
  height: 10px;
  border: #43a1b0 solid 2px;
  border-radius: 20px;
  background-color: #43a1b0;
  margin-top: 102px;
  margin-left: 25px;
  z-index: 10;
  position: relative;
}
.timeline_2 {
  margin-top: 250px;
}
.timeline_3 {
  margin-top: 500px;
}
.timeline_date {
  margin-left: -30px;
  margin-top: 30px;
  font-family: monospace;
  color: #046878;
  position: absolute;
  font-size: medium;
  transform: rotate(90deg);
}
.timeline_desc>p {
  margin-left: 17px;
}
.timeline_desc {
  position: absolute !important;
 margin-bottom: 3em;
    background: #fff;
    border: #EDF1F3 solid 3px;
    border-radius: 6px;
    margin-top: -37px;
}
.fa-caret-left {
  margin-left: -28px;
  margin-top: 10px;
  position: absolute;
  color: #f1f4f6 !important;
}
.caret_left_1 {
  margin-left: -11px;
    margin-top: -6px;
}
.fa-caret-right {
  margin-left: 111px !important;
  margin-top: -2px;
  position: absolute;
  color: #f1f4f6 !important;
}
.fa-arrows-v {
  display: none !important;
}
.downlaod {
    border: #EDF1F3 solid 3px;
    border-radius: 6px;
    width: 117px;
    margin-top: -25px;
    height: 60px;
    margin-left: 45px;
}
.print {
  position: absolute;
  margin-bottom: 3em;
  background: #fff;
  border: #EDF1F3 solid 3px;
  border-radius: 6px;
  width: 116px;
  margin-top: -59px;
  margin-left: -101px;
}
.timeline_end {
    margin-top: 90px;

}
.resume h3 {
  color: #e5e5e5;
  font-family: monospace;
  position: absolute;
  margin-top: 112px;
  margin-left: 80px;
}
.resume h4 {
  margin-left: 27px;
  color: #046878;
}
.resume h5 {
  margin-left: 27px;
  margin-bottom: 20px;
  color: #bebaba;
}
.percent {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  right: -25px;
  top: -30px;
  height: 24px;
  width: 50px;
  background: rgba(186, 186, 186, 0.8);
  border-radius: 3px;
  font-family: 'VerelaRound';
}
.progress-bar i {
  font-size: 24px;
  color: #c7c7c7 !important;
  position: absolute;
  right: -7px;
  top: -16px;
}
.owl-carousel {
  margin-top: 40px !important;
}
.timeline_desc {
  margin-left: 45px !important;
}
.progress-bar {
  background-image: linear-gradient(to bottom, #43a1b0 0, #43a1b0 100%) !important;
}
.progress-bar i {
  font-size: 24px !important;
  color: #c7c7c7;
  position: absolute;
  right: -7px;
  top: -16px;
}
.wrapp-progress p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
.wrapp-progress {
  position: relative;
  padding-top: 24px;
}
.progress-bar {
  position: relative;
  transition: all 200ms linear !important;
}
.progress {
  height: 6px !important;
  background-color: #dadfe1 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  clear: both !important;
  margin: 6px 0 16px 0 !important;
  overflow: inherit !important;
}
.progress {
  clear: both;
}
.build.progressbar-a {
  width: 287px;
  margin-top: 50px;
}
.build.progressbar-b {
  width: 287px;
  margin-top: 128px;
}
.education_icon, .work_icon, .coding_skill_icon, .design_skill_icon, .specialite_icon, .testimonial_icon {
  width: 60px;
  height: 60px;
  border: solid 3px;
  border-color: #47a3b2;
  border-radius: 19px;
  text-align: center;
  margin-top: 50px;
  transform: rotate(45deg);
}
.quote_testimonial {
  width: 40px;
  height: 40px;
  border: solid 3px;
  border-color: #c3cbcc;
  border-radius: 10px;
  margin-left: 108px;
  transform: rotate(45deg);
}
h3.title_section_resume {
  color: black;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Ruslan Display', cursive;
  font-family: 'Amita', cursive;
  font-family: 'Special Elite', cursive;
  margin-top: -80px;
  width: 175px;
  margin-left: 40px;
  transform: rotate(-45deg);
}
.fa-graduation-cap, .fa-briefcase, .fa-code, .fa-flask, .fa-paint-brush, .fa-quote-right {
  transform: rotate(-45deg);
  font-size: 37px;
  margin-top: 10px;
  color: rgba(158, 158, 158, 0.27);
}
.fa-quote-left {
  transform: rotate(-45deg);
  font-size: 20px !important;
  margin-top: 7px;
  margin-left: 7px;
  color: rgb(195, 203, 204) !important;
}
.fa-arrow-circle-o-down {
  margin-left: 47px;
  font-size: 27px;
  color: rgba(148, 162, 164, 0.56);
}
.fa-print {
  margin-left: 40px;
  margin-top: 2px;
  font-size: 25px;
  color: rgba(148, 162, 164, 0.56);
}
.h_print, .h_downlaod {
  margin-left: 12px !important;
  font-family: cursive;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: #046878 !important;
  text-decoration: none;
}
.tabs {
  margin-top: 50px;
  width: 420px;
  padding: 0;
  transition: all 0.7s ease-in-out;
  background: #fff;
}
.tab {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.tab p {
  color: #9E9E9E;
  font-size: 16px;
  font-family: sans-serif;
}
label {
  display: inline-block;
  margin-top: -1px;
  padding: 15px 11px;
  font-weight: 600;
  text-align: center;
  margin-bottom: -1px !important;
  color: #bbb;
  transition: all 0.7s ease-in-out;
  border: transparent solid 1px;
}
label:before {
  font-family: fontawesome;
  font-weight: 400;
  margin-right: 10px;
}
label[for*="1"]:before {
  content: '\f108';
}
label[for*="2"]:before {
  content: '\f19a';
}
label[for*="3"]:before {
  content: '\f0ac';
}
label:hover {
  color: #888;
  cursor: pointer;
}
input:checked+label {
  color: #43a1b0;
  border: #ddd solid 1px;
  border-top: 2px solid #43a1b0;
  border-bottom: 1px solid #fff;
}
#tab1:checked~#content1, #tab2:checked~#content2, #tab3:checked~#content3, #tab4:checked~#content4 {
  display: block;
}
@media screen and (max-width:650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width:400px) {
  label {
    padding: 15px;
  }
}
.quote>p {
  color: #f3eeee;
  text-align: center;
  margin-top: 22px;
  font-family: cursive;
  font-weight: 700;
  text-transform: capitalize;
}
.quote {
  background: #55a1ad;
  width: 287px;
  margin-left: 16px;
  padding: 15px 20px 5px 15px;
  border-radius: 16px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 18px 0;
  border-color: #55a1ad transparent transparent;
  position: relative;
  top: 37px;
  left: 42%;
}
.student {

  margin-bottom: 80px;
}
.photo > img{
  width: 80px;
}
.student .photo {

  margin-left: 115px;
}
.student p {
  color: #046878;
  font-family: cursive;
  padding-top: 89px;
  margin-left: 93px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 12px;
  margin-top: -86px !important;
  color: #c7c4c4;
  margin-left: 39px !important;
}
.owl-theme .owl-controls .owl-page span {
  background: #046878 !important;
}
.owl-theme .owl-controls {
  margin-top: -63px !important;
}

/***********************************/

.row>h3:after {
  content: "";
  width: 15px;
  height: 1px;
  margin-top: 30px;
  margin-left: -51px;
  position: absolute;
  background-color: #43a1b0;
}
i.fa {
  font-size: 30px;
  color: #43a1b0;
}


/***********__contact section__*********/

.contact_box {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  height: 400px;
}
.left_box_header, .right_box_header {
  margin-top: 30px;
}
.left_box_content {
  margin-top: 60px !important;
  position: absolute;
}
.right_box_content {
  margin-top: 50px !important;
}
.left_box_content_info {
  padding: 5.5px 20px;
}
.left_box_content_info>i {
  padding-top: 3px;
  position: absolute;
  font-size: 19px;
  color: rgba(44, 44, 53, 0.2);
}
.left_box_content_info p {
  padding-left: 30px;
}
.left_box_header, .right_box_header h4 {
  font-family: 'Farsan', cursive;
  font-size: 25px;
  text-transform: uppercase;
}


/**********__footer section__**********/

.footer_bd {
  background-color: #171724;
  height: 340px;
}
.fsocial {
  color: rgba(158, 158, 158, 0.22) !important;
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px !important;
}
.footer_title {
  height: auto;
  color: #737171;
  text-transform: capitalize;
  text-align: center;
  font-family: ubuntu;
}
@keyframes pound {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}
.heart {
  display: inline-block;
  font-size: 15px !important;
  padding-left: 5px;
  margin-right: 7px;
  color: #E91E63 !important;
  animation: pound 2s infinite;
  transform-origin: center;
}
.social_footer {
  margin-left: 20px;
  margin-top: 40px;
}
.fa.fa-facebook:hover {
  color: #3b5998 !important;
  transition: all 2s ease-out;
}
.fa.fa-youtube:hover {
  color: #cc181e !important;
  transition: all 2s ease-out;
}
.fa.fa-skype:hover {
  color: #00aff0 !important;
  transition: all 2s ease-out;
}
.fa.fa-twitter:hover {
  color: #00aced !important;
  transition: all 2s ease-out;
}
.fa.fa-git:hover {
  color: rgb(105, 25, 108) !important;
  transition: all 2s ease-out;
}
.fa.fa-instagram:hover {
  color: rgba(0, 150, 136, 0.58) !important;
  transition: all 2s ease-out;
}
.footer_top {
  background: #0c0c17;
  height: 280px;
}

/**********__contact section__**********/

#map {
  height: 350px;
  width: 100%;
  margin-top: 20px;
}
.overlay_map {
  background-color: rgba(17, 17, 17, 0.93);
  width: 100%;
  height: 350px;
  margin-top: -350px;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.overlay_map:hover {
  background: rgba(17, 17, 17, 0.9);
}
.contact h5 {
  margin-top: 3px;
  text-transform: capitalize;
  color: #9E9E9E;
  margin-left: 31px;
  font-family: monospace;
  font-size: 18px;
}
.point {
  margin-top: 139px;
}
.overlay_map p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding-top: 39px;
}
.overlay_map i:hover {
  color: #a2a1a1;
}
.bounce {
  padding-top: 30px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce:hover {
  cursor: pointer;
  animation: bounce 0s infinite;
}
.overlay_map i {
  color: rgba(255, 255, 255, 0.75);
}
.overlay_close i {
  padding-left: 52px;
  color: rgba(255, 255, 255, 0.75);
}
.bounce2 {
  display: none;
  bottom: 10px;
  animation: bounce2 2s infinite;
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bounce2:hover {
  cursor: pointer;
  animation: bounce2 0s infinite;
}

/**********__service section__**********/

.service_box {
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: solid 2px;
  border-color: rgb(12, 107, 135);
  transition: all 1s ease-in-out;
  border-color: rgba(158, 158, 158, 0.72);
  padding: 55px 0;
  height: 320px;
}
.margin-top{
  margin-top: 100px;
}
.top_line {
  height: 2px;
  z-index: 99;
  position: absolute;
  margin-left: 75px;
  margin-top: -57px;
  transition: all 1s ease-in-out;
  width: 85px;
  border-top: 2px solid rgb(11, 93, 117);
}
.service_box:before {
  content: "";
  height: 2px;
  margin-top: -35px;
  margin-left: -19px;
  width: 85px;
  background-color: white;
  position: absolute;
}
.material1 {
  color: rgb(12, 107, 135);
  font-size: 50px !important;
  transition: all 1s ease;
  position: relative;
  z-index: 99;
}
.service_text {
  text-align: center;
  font-size: 15px;
  padding: 20px 8px !important;
  color: rgba(158, 158, 158, 0.71) !important;
}

/**********__subcribe section__**********/

input, textarea {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: none;
  padding: 15px 20px;
}
.subscribe-form-area {
  background-color: #fff;
  float: right;
  position: relative;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15);
}
.input-field {
  position: relative;
  margin-bottom: 20px;
}
.subscribe-form .input-field textarea {
  resize: none;
}

.common-btn {
    color: #ffffff;
    
    float: right;
    position: relative;
    line-height: 50px;
    font-size: 14px;
    height: 50px;
    width: 70px;
    border-radius: 30px;
    background-color: #43a1b0;
    box-shadow: 0 10px 10px -6px #cdcdcd;
}

.subscribe-form button, .news-letter-form button, .comment-btn button {
  border: none;
  height: 40px;
  line-height: 30px;
}
.subscribe-form .input-field input[type="text"]:focus, .subscribe-form .input-field input[type="email"]:focus, .subscribe-form .input-field textarea:focus, .news-letter-form input[type="email"]:focus {
  border-bottom: 1px solid #43a1b0;
  box-shadow: none;
  outline: none;
}
form.subscribe-form.active {
  width: 80%;
  height: 300px;
  position: absolute;
  margin-top: 60px;
  margin-left: 32px;
}
h4.subscribe-heading.active {
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.9px;
  color: #424242;
  padding-top: 27px;
  text-transform: capitalize;
  margin-left: 30px;
}
.material3 {
  position: absolute;
  background: rgb(6, 162, 186);
  border-radius: 50%;
  color: #fff;
  width: 40px;
  line-height: 45px !important;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.sub_box {
  background:-moz-linear-gradient(bottom, #16c7ed 0%, #47ad9f 0.27%, #40c2bd 99.46%, #40c2c2 100%);
  background: -o-linear-gradient(bottom, #16c7ed 0%, #47ad9f 0.27%, #40c2bd 99.46%, #40c2c2 100%);
  background: -webkit-linear-gradient(bottom, #16c7ed 0%, #47ad9f 0.27%, #40c2bd 99.46%, #40c2c2 100%);
  background: linear-gradient(bottom, #16c7ed 0%, #47ad9f 0.27%, #40c2bd 99.46%, #40c2c2 100%);
  width: 100%;
  padding: 100px 0;
}
.sub_box .cta_text {
  color: #fff;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: -50px;
  margin-bottom: 105px;
}
.sub_box .mc-email {
  display: inline-block;
  width: 300px;
  height: 50px;
  padding: 0 20px;
  background-color: #fff;
  border: 0;
  outline: none;
  margin-right: -4px;
  color: #43a1b0;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  vertical-align: middle;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.sub_box #mc_submit {
  display: inline-block;
  width: 60px;
  height: 50px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  border: 0;
  outline: none;
  margin-right: -4px;
  text-align: center;
  vertical-align: middle;
}
.sub_box #mc_submit i {
  display: inline-block;
  width: 20px;
  height: 14px;
  vertical-align: middle;
}
#mc_submit i.icon {
  background: url('../img/sub_icon.png') no-repeat;
}
#mc_submit i.loading {
  background: url('../img/loading.gif') no-repeat;
}
.sub_box .message {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: lowercase;
  margin-top: 20px;
}
.sub_box #error_msg, .sub_box #success_msg {
  display: none;
}
form#submit_form {
  margin-top: -50px;
}
.form_icon {
  padding-top: 17px;
  position: absolute;
  font-size: 17px !important;
  color: rgba(44, 44, 53, 0.2);
}
/*****************responsive****************/
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
@media  (max-width : 480px) {
    

}
@media(max-width:767px) {
  #work-process-area
  {
    height: 750px;
  }
  .right_box {
    margin-top: 30px;
  }
  .tabs {
    width: 300px !important;
  }
  .right_part {
    margin-top: 120px !important;
  }
  .tagline {
    letter-spacing: 2px !important;
    font-size: 3em !important;
  }
   .sub-tagline{
    font-size: 39px !important;

    }
  .print {
    margin-top: 12px;
    margin-left: 45px;
  }
  .print>i {
    display: none;
  }
  .fa-arrows-v {
    display: block !important;
    position: absolute;
    margin-left: 105px;
  
    font-size: 11px !important;
  } header nav ul {
    margin-top: 30px !important;
    
  }

}
@media(max-width:992px) 
{


  header{
    margin-left: -225px !important;
     box-shadow:none !important;
  }
  .main_content{

    width: 100%;
    margin-left: 0px !important;
   
  }
  .header_open {
    margin-left: 0px  !important;
    position: fixed;
    transition: all 0.4s;
  }
  .responsive_header_bar_slide {
    padding-left: 225px !important;
    transition: all 0.4s;
  }
  .responsive_header_bar {
    width: 100%;
    height: 50px;
    z-index: 9999;
    position: fixed;
    display: inherit;
    background-color: #fff;
    border-bottom: 3px solid #43a1b0;
    box-shadow: 8px 4px 8px 1px rgba(60, 60, 60, 0.24);
  }
  .menu-open-close {
    width: 30px;
    height: 30px;
    margin: 13px;
    position: relative;
    float: right;
    border-top: 3px solid #43a1b0;
    border-color: #43a1b0;
    display: block;
    cursor: pointer;
    transition: all 0.4s;
  }
  .menu-open-close:after, .menu-open-close:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 3px solid #43a1b0;
    left: 0;
    transition: all 0.4s;
  }
  .menu-open-close:after {
    top: 6px;
  }
  .menu-open-close:before {
    top: 15px;
  }
  .menu-open-close.open {
    border: #43a1b0 solid 3px;
    border-radius: 50%;
    top: -4px;
    transform: rotate(135deg);
  }
  .menu-open-close.open:before, .menu-open-close.open:after {
    top: 11px;
    left: 2px;
    width: 80%;
  }
  .menu-open-close.open:after {
    transform: rotate(0deg);
  }
  .menu-open-close.open:before {
    transform: rotate(-90deg);
  }
  .logo_responsive h4 {
    position: absolute;
    color: #a2a1a1;
    margin-top: 17px;
    margin-left: 20px;
    width: 203px;
    height: 18px;
    letter-spacing: 1px;
    font-size: 1.33em;
  }
  .logo_responsive h4>span {
    color: #43a1b0;
  }
    .services {
    padding : 55px 0 !important ;
  }
  .service_box {
    border : none !important ;
  }
  .top_line {
    display : none;
  }
  .single_count{
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 0px !important;
  }
  .description >p{
    width: 100%;
  }
  .description >h4{
   font-size: 15px;
  }
  .sub_box .mc-email {
    display : inline-block;
    width : 200px !important ;
  }
  .tagline{
    font-size: 4em ;
    letter-spacing: 0px  ;
  }
  .sub-tagline{
        font-size: 46px   ;
  }
   .work_process{
    margin-top: 20px;
  }
  .work_process:after{
    display: none;
  }


  
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .tagline{
    font-size: 4em ;
    letter-spacing: 4px;
  }
  h4.sub-tagline{
    font-size: 50px;
  }
}

